@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rowdies:wght@400;700&display=swap');

.mainDiv{
    height:900px;
    width:100%;
    background-color: white;
}
.nav{
    height:60px;
    width:100%;
    background-color: #f6f6f6;
    position:fixed;
    justify-content: flex-end;
    display:flex;
    flex-direction: row;
}
/* .navHeadings{
    display: inline-block;
    margin:0px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 1s;
    /* text-decoration: none;  */ */

/* .navHeadings:hover{
    color: #e53935;
    border-bottom: 2px solid #e53935;
    display: block;
} */

.navHeadings {
    display: inline-block;
    color: #e53935;
    text-decoration: none;
    cursor: pointer;
}

.navHeadings:hover {
    color:#e53935;
    cursor:pointer;
}

.navHeadings::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #e53935;
    transition: width .3s;
    color: #e53935;
    cursor: pointer;
}

.navHeadings:hover::after {
    width: 100%;
    transition: width .3s;
    color: #e53935;
    
    
}

.rightNav{
    background-color: #f6f6f6;
    width:50%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nameSection{
    height:700px;
    width:100%;
    background-image: url(../assets/white.jpg);
    background-size: cover;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items:center;
}
.nameFont{
    font-family: 'Rowdies', cursive;
    font-size: 300%;
    margin: 0;
}
.welcomeText{
    font-family: 'Orbitron', sans-serif;
    font-size: 140%;
    margin:0;
}
.myProjectSection{
    background-color: white;
    height:900px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 150px;
}
.projectText{
    font-family: "Rowdies",cursive;
    font-size: 300%;
}
.card{
    height:300px;
    width:300px;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin-top: 20px;
}
.card:hover{
    background:linear-gradient(#e53935,#e35d5b);
    transform: translateY(-8px);
    transition: transform ease 800ms;
    color:white;
}

.hireMe{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.hireMeSec{
    height: 900px;
    background-color: white;
    display: flex;
    justify-content: center;
    width:40%;
    align-items:center;
    /* padding-left: 200px; */
}
.hireText{
    font-family: 'Rowdies', cursive;
    font-size: 320%;
    margin: 0;
}
.hireMeSecRight{
    height: 900px;
    background-color: green;
    display: flex;
    /* align-items: center */
    justify-content: center;
    /* width:50% */
}
.textFields{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 400px;
    width:480px;
    /* background-color: red; */
    justify-content: space-around;
}

.descText{
    line-height: 25px;
}
.bottomNav{
    height:70px;
    background-color: black;
    width:100%;
    align-items: center;
    display:flex;
    justify-content: space-around;
}

.linked{
    width:50px;
    height:50px;
    border: 2px solid white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 20px;
}

.linked:hover{
    color: white;
    background-color: red;
    border: 2px solid red;
    cursor: pointer;
}